.flex-container-board-list {
    width: 80%;
    max-width: 2000px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.board-list-item-wrapper {
    width: 280px;
    background-color: var(--foreground);
    border-radius: 10px;
    position: relative;
}

.board-list-item-wrapper:hover {
    background-color: var(--accent);
}

.board-list-item-score {
    background-color: var(--background);
    color: var(--text-colour);
    padding: 6px;
    width: 35px;
    height: 25px;
    line-height: 25px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 5px;
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 15px;
}

.boardLink {
    color: var(--text-colour);
    text-align: center;
    line-height: 100px;
    font-size: 25px;
}


#addBoardButton {
    color: var(--text-colour);
    height: 92px;
    line-height: 92px;
    width: 280px;
    text-align: center;
    border-radius: 10px;
    border: rgb(158, 158, 158);
    border-style: dashed;
    border-width: 4px;
    font-size: 50px;
}

#addBoardButton:hover {
    background-color: rgb(86, 86, 86);
    opacity: 1;
}

.board-list-text-emoji-wrapper {
    display: flex;
    justify-content: center;
    gap: 10px;
}
