.board-content-wrapper {
    display: flex;
    justify-content: space-evenly;
    padding-left: 20px;
    padding-right: 20px;
}

.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding-left: 250px; */
    flex-grow: 1;
    margin-top: 20px;
    /* padding-right: 20px; */
}

/* .board-filter-wrapper {
    margin-top: 110px;
    width: 120px;
    background-color: var(--accent);
    padding: 5px;
    border-radius: 35px;
    margin-left: 35px;
    margin-right: auto;
} */

.board-name-wrapper {
    margin-right: auto;
    display: flex;
    gap: 10px;
}

.board-name {
    margin-right: auto;
    font-size: 20px;
    opacity: 0.9;
}

.basic-multi-select {
    /* width: 95%; */
    /* margin-top: 10px; */

    width: 40%;
    text-align: left;
    max-width: 600px;
}

.board-filter-actions-wrapper {
    width: 100%;
    display: flex;
    /* background-color: black; */
    flex-wrap: wrap;
    /* justify-content: center; */
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
    /* margin-top: 20px; */
    flex-grow: 1;
    /* position: relative; */
}

.board-actions-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    background-color: var(--foreground);
    padding: 10px 15px 10px 15px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.edit-icon {
    width: 28px;
    height: 28px;
    margin-top: -2px;margin-left: -15px;
    transition-duration: 100ms;
    /* opacity: 0.7; */
}

.edit-icon:hover, .delete-icon:hover, .clear-icon:hover, .emoji-icon:hover {
    /* opacity: 1; */
    /* -webkit-animation-name: bulge; */
    /* -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: initial;
    -webkit-animation-timing-function: ease-in; */
    cursor: pointer;
    transform: scale(1.2);
    transition-duration: 100ms;
}

.delete-icon {
    /* opacity: 0.7; */
    transition-duration: 100ms;
    width: 25px;
}

.clear-icon {
    /* opacity: 0.7; */
    width: 27px;
    transition-duration: 100ms;
    margin-left: -2px;
}

.board-emoji-picker-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--foreground);
    padding: 8px 15px 8px 15px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.board-emoji-wrapper {
    position: absolute !important;
    z-index: 2001;
    margin-top: 495px;
    margin-left: 250px;
    box-shadow: rgba(65, 65, 65, 0.35) 0px 5px 15px;
    /* border: solid var(--text-colour) 2px; */
    border-radius: 12px;
}

.emoji-icon {
    transition-duration: 100ms;
    width: 25px;
    font-size: 20px;
}

.emoji-highlight {
    background-color: var(--text-colour);
}

.emoji-highlight-dark {
    background-color: var(--background);
}

.transparent_gradient {
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(180deg, transparent 0, var(--background) 100%);
    z-index: 2000;
    pointer-events: none;   
}
