.flex-container-board-list {
    width: 80%;
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 50px;
    margin-bottom: 40px;
}

.board-list-item-wrapper {
    width: 250px;
    background-color: var(--foreground);
    border-radius: 10px;
    position: relative;
    transition-duration: 400ms;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.board-list-item-wrapper:hover {
    background-color: var(--accent);
    transform: translateY(-5px);
}

.board-list-item-score {
    background-color: var(--background);
    color: var(--text-colour);
    padding: 6px;
    width: 35px;
    height: 25px;
    line-height: 25px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 5px;
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 15px;
}

.boardLink {
    color: var(--text-colour);
    text-align: center;
    line-height: 105px;
    font-size: 22px;
}

#addBoardButton {
    color: var(--text-colour);
    height: 92px;
    line-height: 92px;
    width: 250px;
    text-align: center;
    border-radius: 10px;
    border: rgb(158, 158, 158);
    border-style: dashed;
    border-width: 4px;
    font-size: 50px;
    transition-duration: 400ms;
}

#addBoardButton:hover {
    background-color: rgb(86, 86, 86);
    opacity: 1;
    cursor: pointer;
    /* transform: translateY(-5px); */
}

.board-list-text-emoji-wrapper {
    display: flex;
    justify-content: center;
    gap: 10px;
}
