.card-list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 90%;
    align-items: flex-start;
}

#addCardButton {
    min-width: 450px;
    height: 200px;
    margin: 20px;
    border-radius: 10px;
    /* background-color: rgb(27, 27, 27); */
    color: white;
    border: white;
    border-style: dashed;
    border-width: 4px;
    font-size: 80px;
    font-family: none;
    display: grid;
    align-items: center;
    opacity: 0.7;
}

#addCardButton:hover {
    background-color: rgb(86, 86, 86);
    opacity: 1;
}
