.card-list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 95%;
    /* max-width: 1600px; */
    align-items: stretch;
    gap: 25px;
    /* margin-top: 120px; */
    margin-top: 20px;
    margin-bottom: 100px;
}

#addCardButton {
    background-color: var(--foreground);
    border-radius: 15px;
    border-style: dashed;
    border-color: var(--text-colour);
    border-width: 4px;
    font-size: 60px;
    font-family: none;
    display: grid;
    align-items: center;
    opacity: 0.7;
    min-width: 550px;
    flex-grow: 1;
    /* flex-basis: 48%; */
    flex-basis: 30%;
    transition-duration: 400ms;
}

#addCardButton:hover {
    background-color: rgb(86, 86, 86);
    opacity: 1;
    cursor: pointer;
}
