.wrapper {
    /* width: 98vw; */
    /* height: 100vh; */
}

.home-page-content-wrapper {
    display: flex;
    justify-content: space-evenly;
}

.home-page-content-sub-wrapper {
    margin-top: 70px;
    margin-bottom: 100px;
    flex-grow: 1;
}

.loadingWrapper {   
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center
}

.homePageContent {
    margin-top: 50px;
}

.totalScore:hover {
    cursor: default;
}
