.home-page-content-wrapper {
    display: flex;
    justify-content: space-evenly;
}

.home-page-week {
    font-size: 17px;
    background-color: var(--accent);
    width: 190px;
    margin: auto;
    border-radius: 20px;
    padding: 1px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.home-page-content-sub-wrapper {
    margin-top: 80px;
    margin-bottom: 100px;
    flex-grow: 1;
}

.loadingWrapper {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center
}

.homePageContent {
    margin-top: 70px;
}

.totalScore:hover {
    cursor: default;
}

.home-page-total-score-wrapper {
    display: flex;
    font-size: 30px;
    width: 300px;
    gap: 10px;
    margin: auto;
    margin-top: -3px;
    margin-bottom: 50px;
}

.home-page-total-score-inner-wrapper {
    display: flex;
    margin: auto;
    flex-direction: column;
    gap: 10px;
}

.home-page-total-score-inner-label {
    font-size: 18px;
    opacity: 0.5;
}

.home-page-total-score-inner-score {
    font-size: 30px;
    padding: 4px;
    width: 80px;
    background-color: var(--foreground);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.home-page-todays-tip-wrapper {
    /* background-color: var(--foreground); */
    border-radius: 10px;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    width: 70%;
    max-width: 750px;
    margin: auto;
    padding: 20px;
    margin-top: 20px;
}

.home-page-todays-tip-quote {
    text-align: justify;
    font-size: 18px;
    font-family: CircularMediumItalic
}

.home-page-todays-tip-attribution {
    margin-top: 20px;
    text-align: start;
    opacity: 0.5;
}
