.loginForm {
    min-width: 18em;
    margin-top: 100px;
}

.login-buttons {
    background-color: var(--accent);
    color: var(--text-colour);
}

.login-buttons:hover {
    background-color: var(--accent-2);
}

.login-buttons:focus {
    outline-color: transparent;
    outline-style: solid;
    /* box-shadow: 0 0 0 1px #ffffff8a; */
}

.inputText {
    font-size: 1.3em;
    padding: 8px;
    background-color: var(--foreground);
    color: var(--text-colour);
    border: none;
    margin-top: 3px;
}

.inputText:focus {
    outline-color: var(--accent);
}

.resend-confirmation {
    margin-top: 10px;
}

.resend-confirmation > a {
    font-size: 14px;
    color: rgb(58, 58, 171);
    text-decoration: underline;
}

.resend-confirmation > a:hover {
    opacity: 0.6;
}
