.login-buttons {
    background-color: var(--accent);
}

.login-buttons:hover {
    background-color: var(--accent);
    -webkit-animation-duration: 1s;
    -webkit-animation-name: bulge;
    -webkit-animation-iteration-count: initial;
}

.login-buttons:focus {
    outline-color: transparent;
    outline-style: solid;
    box-shadow: 0 0 0 1px #ffffff8a;
}

.loginForm {
    min-width: 18em
}

.inputText {
    font-size: 1.3em;
    width: 100%;
    padding: 8px;
    background-color: var(--foreground);
    color: var(--text-colour);
    border: none;
    margin-top: 3px;
}

.inputText:focus {
    outline-color: var(--accent);
}
