.score-button {
  /* padding-left: 12px; */
}

.score-input {
  background: transparent;
  color: var(--text-colour);
  border: none;
  text-align: center;
  width: 40px;
  border-radius: 15px;
  font-size: 15px;
  font-weight: bold;
  font-family: CircularMedium;
  z-index: 200 !important;
}

.score-input:focus {
  outline: none;
}

.score-button:hover .score-type-tooltip {
  display: block;
}

.score-type-tooltip {
  display: none;
  position: absolute;
  z-index: 1000;
  margin-left: 4px;
  margin-top: 15px;
  font-size: 16px;
  width: 30px;
  height: 30px;
  background-color: var(--accent);
  line-height: 30px;
  padding: 3px;
  border-radius: 5px;
}

.score-type-tooltip:before {
  content: "";
  position: absolute;
  height: 0px;
  width: 0px;
  left: 8px;
  top: -19px;
  border-width: 10px;
  border-color: transparent transparent var(--accent) transparent;
  border-style: solid;
}

@-webkit-keyframes bulge {
  0% {
    transform: scale(1);
    color: var(--text-colour);
  }

  10% {
    transform: scale(1.1);
    color: var(--text-colour);
  }

  40% {
    transform: scale(1);
    color: var(--text-colour);
  }

  100% {
    transform: scale(1);
  }
}

.bulge-now {
  -webkit-animation-duration: 0.5s;
  -webkit-animation-name: bulge;
  -webkit-animation-iteration-count: initial;
  -webkit-animation-timing-function: ease-in;
}

.star-icon {
  opacity: 0.2;
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 4px;
  margin-left: 5px;
  width: 35px;
  z-index: -1;
}
