.score-button {
}

@-webkit-keyframes bulge {
  0% {
    transform: scale(1);
    color: var(--text-colour);
  }
  10% {
    transform: scale(1.1);
    color: var(--text-colour);
  }
  40% {
    transform: scale(1);
    color: var(--text-colour);
  }
  100% {
    transform: scale(1);
  }
}

.bulge-now {
  -webkit-animation-duration: 0.5s;
  -webkit-animation-name: bulge;
  -webkit-animation-iteration-count: initial;
  -webkit-animation-timing-function: ease-in;
}

.star-icon {
  margin-top: 5px;
  width: 16px;
}
