.settings-content-wrapper {
  display: flex;
  justify-content: space-evenly;
}

.settings-content-sub-wrapper {
  margin-top: 100px;
  margin-bottom: 100px;
  flex-grow: 1;
}





/* React confirm styling */

.overlay-custom-class-name{
  background-color: var(--background-faded) !important;
  z-index: 3000 !important;
}

.react-confirm-alert-body{
  /* background-color: var(--text-colour) !important;
  color: rgb(31, 31, 31) !important; */
  background-color: var(--foreground) !important;
  color: var(--text-colour) !important;
  font-family: "CircularBook" !important;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px !important;
  margin-top: -250px;
}

.react-confirm-alert-body > h1{
  font-size: 30px;
  font-family: "CircularMedium" !important;
}

.react-confirm-alert-button-group{
  justify-content: flex-end !important; 
}

.react-confirm-alert-button-group > button{
  min-width: 90px;
  padding: 10px !important;
  background-color: var(--accent) !important;
  font-size: 15px !important;
  font-family: "Circular" !important;
}

.react-confirm-alert-button-group > button:hover{
  background-color: var(--accent-2) !important;
}


/* .custom-ui{
  width: 400px;
  background-color: var(--foreground) !important;
  color: var(--text-colour) !important;
  font-family: "CircularBook" !important;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px !important;
  margin-top: -250px;
  border-radius: 10px;
  padding: 30px;
  text-align: left;
}

.custom-ui > h1{
  font-size: 30px;
  font-family: "CircularMedium" !important;
  margin-top: 0;
}

.custom-ui-input{
  font-size: 1.1em;
  padding: 8px;
  background-color: var(--text-colour);
  color: black;
  border: none;
  margin-top: 3px;
  border-radius: 10px;
}

.custom-ui-input:focus {
  outline: none;
} */
