.set-targets-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.target-setter-header {
    margin: 10px 0px 15px 0px;
    text-align: center;
}

.settings-line {
    border-color: rgba(255, 255, 255, 0.256);
    width: 80%;
    max-width: 900px;
}

.set-targets-wrapper>form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}

.set-targets-inputs {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.set-targets-inputs label {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    gap: 15px;
    text-align: center;
}

.set-targets-input {
    font-size: 25px;
    padding: 10px;
    width: 70px;
    text-align: center;
    border-radius: 10px;
    border: none;
    background-color: var(--background);
    color: var(--text-colour);
}

.set-targets-input:focus, .set-targets-submit:focus, .set-targets-board-select:focus {
    outline-color: var(--accent);
    outline-style:solid;
    box-shadow: 0 0 0 1px var(--accent);
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.set-targets-submit {
    width: 80px;
    margin: auto;
    margin-top: 10px;
    padding: 8px;
    border-radius: 10px;
    border: none;
    font-size: 14px;
    font-family: CircularBold;
    background-color: var(--accent);
    color: var(--text-colour);
    transition-duration: 400ms;
}

.set-targets-submit:hover {
    background-color: var(--accent-2);
    cursor: pointer;
}
