.task-container {
    display: flex;
    padding: 5px;
    padding-left: 20px;
}

.task-container:hover textarea{
    /* border-left: solid var(--accent) 1px; */
    opacity: 0.6;
}

.task-textarea-box {
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.1px;
    color: var(--text-colour);
    background-color: var(--foreground);
    border: none;
    border-radius: 5px;
    width: -webkit-calc(100% - 85px);
    width: -moz-calc(100% - 85px);
    width: calc(100% - 85px);
    resize: none;
    margin-left: 12px;
    margin-top: -5px;
    font-family: CircularMedium;
}

.highlight {
    background-color: var(--accent-2);
    /* color: var(--accent-2); */
}

.task-textarea-box:focus {
    outline: none;
}

.deleteTask {
    display: none;
    margin-left: 5px;
}

.deleteTask img:hover{
    cursor: pointer;
    background-color: var(--accent);
}

.deleteTask img {
    width: 15px;
    padding: 1px;
}

.task-container:hover .deleteTask {
    display: block;
}

:root {
    --form-control-color: rgb(255, 255, 255);
    --form-control-disabled: #959495;
}

input[type="checkbox"] {
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
    background-color: var(--form-background);
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 1.2em;
    height: 1.2em;
    border: 0.15em solid currentColor;
    border-color: var(--accent);
    border-radius: 0.3em;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
    margin-top: 1px;
}

input[type="checkbox"]:checked {
    background-color: var(--accent);
}

input[type="checkbox"]:checked:hover {
    background-color: var(--accent);
    border-color: var(--accent);
}

input[type="checkbox"]::before {
    content: "";
    width: 0.6em;
    height: 0.6em;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    transform: scale(0);
    transform-origin: bottom left;
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);
    background-color: CanvasText;
}

input[type="checkbox"]:checked::before {
    transform: scale(1);
}

input[type="checkbox"]:disabled {
    --form-control-color: var(--form-control-disabled);
    color: var(--form-control-disabled);
    cursor: not-allowed;
}

input[type="checkbox"]:hover {
    background-color: var(--accent);
}
