.task-dropdown-menu {
  background-color: var(--background);
  border: solid 2px var(--accent-2);
  box-shadow: rgba(54, 54, 54, 0.35) 0px 0px 15px;
  transition: all linear 0.3s;
  position: absolute;
  z-index: 100;
  border-radius: 10px;
  padding: 8px 0px 8px 0px;
  /* padding: 8px; */
  margin-left: -203px;
  margin-top: -30px;

}

.task-dropdown-icons {
  width: 16px;
  height: 16px;
}

.task-dropdown-li {
  padding: 5px;
  padding-right: 20px;
  padding-left: 15px;
  gap: 10px;
}

.taskMenu {
  display: none;
  margin-left: 8px;
  height: 0px;
}

.taskMenu img:hover {
  cursor: pointer;
  /* background-color: var(--background); */
  /* border-radius: 3px; */
}

.taskMenu img {
  width: 15px;
  padding: 1px;
}

.task-container:hover .taskMenu {
  display: block;
}

.menu-background-display .task-three-dots-vertical {
  /* border-radius: 3px; */
  /* background-color: var(--background) !important; */
  background-color: var(--background) !important;
  opacity: 1;
  border: solid 2px var(--accent-2);
  padding: 0px !important;
}

.menu-background-display {
  display: block !important;
}

a {
  color: var(--text-colour);
}

@keyframes fadeIn {
  0% {
    transform: translateX(10%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

.fadeIn-animation {
  animation: 300ms fadeIn;
}

@keyframes fadeUp {
  0% {
    transform: translateY(10%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

.fadeUp-animation {
  animation: 600ms fadeUp;
}

@keyframes fadeDown {
  0% {
    transform: translateY(-10%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

.fadeDown-animation {
  animation: 600ms fadeDown;
}

@keyframes fadeInPure {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadeInPure-animation {
  animation: 500ms fadeInPure;
}
