.theme-setter-wrapper {
    max-width: 1200px;
    margin: auto;
}

.settings-headers {
    justify-self: flex-start;
    width: 80%;
    text-align: left;    
    margin: auto;
    max-width: 900px;
}
