.theme-card-outer-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 92%;
    margin: auto;
    align-items: stretch;
    gap: 25px;
    margin-top: 40px;
    margin-bottom: 80px;
}
