.theme-card-wrapper {
    background-color: var(--background);
    border-radius: 15px;
    border-style: solid;
    border-width: 2px;
    min-width: 300px;
    max-width: 300px;
    align-items: center;
    flex-basis: 30%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: relative;

}

.theme-card-wrapper:hover, .selected-wrapper:hover {
    /* -webkit-animation-duration: 1s;
    -webkit-animation-name: bulge;
    -webkit-animation-iteration-count: initial; */
    opacity: 0.7;
    cursor: pointer;
}

.theme-card-wrapper h2 {
    font-size: 20px;
    text-align: left;
    padding: 20px;
    padding-bottom: 0px;
    margin: 0;
    font-family: CircularBlack;
}

.theme-card-wrapper p {
    text-align: left;
    margin: 0;
}

.theme-card-inner-wrapper {
    border-radius: 15px;
    margin: 15px;
    padding: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.selected-indicator {
    display: none;
    position: absolute;
    right: 0;
    margin-right: 20px;
    margin-top: -5px;
    height: 40px; 
    width: 15px; 
    -webkit-transform: rotate(0deg) skew(0deg); 
    transform: rotate(0deg) skew(0deg); 
    border-left: 10px solid var(--accent); 
    border-right: 10px solid var(--accent); 
    border-bottom: 10px solid transparent; 
    box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
}

.selected-indicator-display {
    display: block;
}
