#root {
  margin: 0 auto;
  text-align: center;
}

:root {
  color-scheme: dark;

  font-family: CircularMedium, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  /* color-scheme: light dark; */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /*///////////// DARK THEMES /////////////*/

  /* purple haze */
  --purple-haze-fg: rgb(35, 34, 50);
  --purple-haze-bg: rgb(24, 24, 35);
  --purple-haze-text-colour: rgb(247, 247, 254);
  --purple-haze-accent: rgb(230, 91, 64);
  --purple-haze-accent-2: rgba(106, 86, 172, 0.468);
  /* --ph-accent-2: rgba(34, 97, 38, 0.468); */

  /* granite */
  --granite-fg: #242424;
  --granite-bg: #141414;
  --granite-text-colour: rgb(247, 247, 254);
  --granite-accent: rgb(230, 91, 64);
  --granite-accent-2: rgba(138, 33, 1, 0.444);

  /* aqua mentos */
  --aqua-mentos-fg: rgb(14, 31, 45);
  --aqua-mentos-bg: rgb(19, 21, 27);
  --aqua-mentos-text-colour: rgb(210, 225, 230);
  --aqua-mentos-accent: rgb(78, 160, 125);
  --aqua-mentos-accent-2: rgba(215, 126, 94, 0.878);

  /* cherry violet */
  --cherry-violet-fg: rgb(48, 47, 66);
  --cherry-violet-bg: rgb(33, 32, 52);
  --cherry-violet-text-colour: rgb(247, 247, 254);
  --cherry-violet-accent: rgb(220, 118, 146);
  --cherry-violet-accent-2: rgba(231, 176, 94, 0.802);

  /* --background: var(--ph-bg);
  --foreground: var(--ph-fg);
  --text-colour: var(--ph-white);
  --accent: var(--ph-accent);
  --accent-2: var(--ph-accent-2); */

  color: var(--text-colour);
  background-color: var(--background, --purple-haze-bg);
}

.smallButton {
  font-size: 0.8em;
}

button {
  margin: 0.5em;
}

.with-sidebar {
  padding-left: 250px;
}

.without-sidebar {
  padding-left: 80px;
}


@media screen and (max-width: 650px) {

  /* MISC STYLES */
  .without-sidebar {
    padding-left: 0px;
  }

  .sidebar-wrapper {
    /* display: none; */
  }

  .header {
    /* height: 50px; */
    padding: 5 px 0px 5px 0px;
  }

  .header-right {
    margin-right: 15px;
  }

  .logo-text-wrapper {
    margin-right: 10px;
  }

  .score-input {
    /* width: 20px; */
    margin-top: 3px;
  }

  .menu-icon-mobile {
    margin-left: 15px;
    /* margin-top: 5px; */
    width: 25px;
    height: 25px;
    padding: 10px;
  }

  /* HOMEPAGE STYLES */
  .home-page-content-wrapper {
    padding-left: 0px !important;
  }

  .loadingWrapper {   
    margin-left: 0px !important;
}

  .boardLink {
    font-size: 22px;
  }

  .homePageContent {
    margin-top: 20px;
  }

  .home-page-content-sub-wrapper {
    margin-top: 10px;
  }

  .home-page-content-sub-wrapper>h2 {
    width: 90%;
    margin: auto;
    margin-top: 20px;
    font-size: 20px;
  }

  .home-page-content-sub-wrapper>h1 {
    font-size: 30px !important;
  }

  /* SETTINGS STYLES */
  .settings-content-wrapper {
    /* width: 80%; */
    padding-left: 0px !important;
    margin: auto;
  }

  .settings-content-sub-wrapper {
    margin-top: 90px;
  }

  /* BOARD STYLES */
  .flex-container-board-list {
    margin-bottom: 30px;
    width: 65%;
  }

  .flex-container {
    margin-top: 70px;
    padding-left: 0px !important;
  }

  .card-list-container {
    /* width: 80%; */
    /* margin: auto; */
  }

  .card-container {
    min-width: 0px;
    flex-basis: 100%;
    /* flex-basis: 30%; */
  }

  .deleteTask {
    display: block;
  }

  .task-textarea-box {
    font-size: 15px;
    width: -webkit-calc(100% - 55px);
    width: -moz-calc(100% - 55px);
    width: calc(100% - 55px);
  }

  .listpal-board-logo {
    display: none !important;
  }

  .task-textarea-box {
    margin-left: 6px !important;
  }

  .task-container:hover textarea {
    opacity: 1;
  }

  .basic-multi-select {
    width: 95%;
  }

  #addCardButton {
    min-width: 0px;
  }

  .board-filter-actions-wrapper {
    margin-top: 20px;
    margin-bottom: 10px;
    display: none;
  }

  .task-dropdown-icons {
    display: none;
  }
}
